{# LICENSE
SPDX-FileCopyrightText: © 2024 Gilles Bellot <gilles.bellot@bell0bytes.eu>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{# ################################################################################################################## #}
{# INCLUDES ######################################################################################################### #}
{# ################################################################################################################## #}
{% extends "main/index.html" %}

{# ################################################################################################################## #}
{# MAIN CONTENT ##################################################################################################### #}
{# ################################################################################################################## #}
{% block app_content %}
    {{ super() }}
    <br>
    <h2>Är Pabeiere, wann ech gelift.</h2>
    <p>Ouni Sécherheetsermächtegung komm Dir hei net eran.</p>
    <hr>
    <a class="btn btn-primary" href="">Login with your DTL Account</a>
    {{ bootstrapForm.render_form(form, form_type='horizontal') }}
{% endblock %}