{# LICENSE
SPDX-FileCopyrightText: © 2024 Gilles Bellot <gilles.bellot@bell0bytes.eu>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{# ################################################################################################################## #}
{# INCLUDES ######################################################################################################### #}
{# ################################################################################################################## #}
{% extends "base.html" %}

{# ################################################################################################################## #}
{# DATA ############################################################################################################# #}
{# ################################################################################################################## #}
{% set env = payload.get('env') %}
{% set clubName = payload.get('clubName') %}
{% set user = payload.get('user') %}

{# ######################ss############################################################################################ #}
{# MAIN CONTENT ##################################################################################################### #}
{# ################################################################################################################## #}
{% block app_content %}
    <br>
    <h1 class="text-center">Ertië</h1>
    <h3 class="text-center">{{ clubName }}</h3>
    {{ user }}
    {% if env == 'test' %}
        <br>
        <hr>
        <h4>Warning: This is the <span class="badge rounded-pill bg-warning text-dark">test</span> environment of Ertië.</h4>
        <p>This version of Ertië is subject to constant changes.</p>
        <hr>
        <br>
        <br>
    {% elif env == 'development' %}
        <br>
        <hr>
        <h4>Warning: This is the <span class="badge rounded-pill bg-danger">development</span> environment of Ertië.
        </h4>
        <p>This version of Ertië is subject to constant changes, and its stacks might be wiped clean without any prior
            warnings and without mercy.</p>
        <hr>
        <br>
        <br>
    {% endif %}
{% endblock %}