{# ################################################################################################################## #}
{# IMPORTS  ######################################################################################################### #}
{# ################################################################################################################## #}
{% from 'members/macros/tableLobby.html' import renderMembersLobbyTable %}

{# ################################################################################################################## #}
{# DATA ############################################################################################################# #}
{# ################################################################################################################## #}
{% set members = payload.get('members') %}
{% set referrer = payload.get('object', 'lobby') %}

{# ################################################################################################################## #}
{# TABLE ############################################################################################################ #}
{# ################################################################################################################## #}
{% if referrer == 'lobby' %}
    {{ renderMembersLobbyTable(members) }}
{% endif %}