{# ################################################################################################################## #}
{# INCLUDES ######################################################################################################### #}
{# ################################################################################################################## #}
{% extends "base.html" %}

{# ################################################################################################################## #}
{# DATA ############################################################################################################# #}
{# ################################################################################################################## #}
{% set members = payload.get('roles') %}

{# ################################################################################################################## #}
{# MAIN CONTENT ##################################################################################################### #}
{# ################################################################################################################## #}
{% block app_content_fluid %}
    <hr>
    <h1 class="text-center">Lobby of the Administrators</h1>
    <hr>
    <div class="row">

        <div class="col">
            <h2 class="text-center">System Settings</h2>
            <hr>
            <p>N/A yet. Please refer to the config file for now.</p>
        </div>

        <div class="col">
            <h2 class="text-center">Security Roles</h2>
            <hr>
            <div class="d-grid gap-2 row-cols-lg-1 d-md-flex justify-content-md-center">
                <a href=""
                   class="btn btn-lg btn-outline-success">Add Security Role</a>
            </div>
            <br>
            {# ###################################################################################################### #}
            {# INCLUDE TABLE OF USERS ############################################################################### #}
            {# ###################################################################################################### #}
            {% include 'members/tables/roles.html' %}
        </div>
    </div>
{% endblock %}
