{# ################################################################################################################## #}
{# INCLUDES ######################################################################################################### #}
{# ################################################################################################################## #}
{% extends "base.html" %}

{# ################################################################################################################## #}
{# MAIN CONTENT ##################################################################################################### #}
{# ################################################################################################################## #}
{% block app_content %}
    <h1 class="text-center">Create a new Security Role</h1>
    <hr>
    <p>Sic erat scriptum: Security Roles are used to finetune user permissions.</p>
    <hr>
    {{ bootstrapForm.render_form(form, form_type='horizontal', button_map={'submit': 'outline-success'}) }}
{% endblock %}